/* ————————————————————————————————————————————————
Table Of Contents

1. Main Code 
2. Breakpoints 

———————————————————————————————————————————————— */



/* ————————————————————————————————————————————————
1. Main Code
———————————————————————————————————————————————— */
.result-art {
    width: 100%;
    margin-top: 50px;
}


.result-art__img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

/* ————————————————————————————————————————————————
2. Breakpoints 
———————————————————————————————————————————————— */

@media screen and (min-width: 700px) {

    .result-art {
        display: none;
    }

    

}

@media screen and (min-width: 601px) {


    

}

@media screen and (max-width: 600px) {


}


@media screen and (max-width: 375px) {


}

