body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ————————————————————————————————————————————————
Table Of Contents

1. Color Variables 
2. Typography 
3. Base Styles

———————————————————————————————————————————————— */




/* ————————————————————————————————————————————————
1. Color Variables 
———————————————————————————————————————————————— */




/* ————————————————————————————————————————————————
2. Typography 
———————————————————————————————————————————————— */



/* ————————————————————————————————————————————————
3. Typography 
———————————————————————————————————————————————— */


