/* ————————————————————————————————————————————————
Table Of Contents

1. Main Code 
2. Breakpoints 

———————————————————————————————————————————————— */



/* ————————————————————————————————————————————————
1. Main Code
———————————————————————————————————————————————— */
.filter--full,
.filter--small {
    border-bottom: 1px solid var(--grey3);
}


.filter__content {
    padding: 40px;
}



.filter__input-group {
    margin-bottom: 24px;
}

.filter__img {
    display: none;
}






/* ————————————————————————————————————————————————
2. Breakpoints 
———————————————————————————————————————————————— */

@media screen and (min-width: 700px) {
    .filter--full,
    .filter--small {
        background: var(--grey4);
    }

    .filter--full {
        padding-top: 100px;
    }

    .filter--full .filter__content {
        padding: 50px 40px;
        max-width: 450px;
        margin: 0 auto 50px;
        border: 5px solid #e4e4e4;
        border-radius: 20px;
    }

    .filter__content {
        padding: 100px 40px;
        max-width: 450px;
        margin: auto;
    }

    .filter__img {
        margin: 80px auto 0;
        display: block;
        max-width: 885px;
    }
}

@media screen and (max-width: 900px) {
    
    .filter__img {
        width: 100%;
    }

}

@media screen and (max-width: 375px) {
    .filter__content {
        padding: 20px;
    }

}