/* ————————————————————————————————————————————————
Table Of Contents

1. Main Code 
2. Breakpoints 

———————————————————————————————————————————————— */



/* ————————————————————————————————————————————————
1. Main Code
———————————————————————————————————————————————— */
.tool-icon--shadow {
    border-radius: 60px;
    box-shadow: 0px 1px 4px rgba(97, 160, 255, 0.35);
    display: inline-block;
    cursor: pointer;
    height: 60px;
    transition: all .3s ease-in-out;
}

.tool-icon--shadow:hover {
    box-shadow: 0px 1px 4px rgba(97, 160, 255, 0);
}


/* ————————————————————————————————————————————————
2. Breakpoints 
———————————————————————————————————————————————— */


