/* ————————————————————————————————————————————————
Table Of Contents

1. Main Code 
2. Breakpoints 

———————————————————————————————————————————————— */



/* ————————————————————————————————————————————————
1. Main Code
———————————————————————————————————————————————— */

.result-row {
    padding: 33px 40px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 64px 1fr 169px;
    align-items: center;
    border-bottom: 1px solid var(--grey3);
}


.result-row__avatar {
    background: var(--primary);
    color: white;
    text-transform: uppercase;
    height: 64px;
    width: 64px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.result-row__avatar--lg {
    font-size: 24px;
}

.result-row__avatar--sm {
    font-size: 16px;
}

.result-row__movie-name {
    margin: 0 0 6px;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-row__category {
    color: var(--grey1);
    margin: 0;
}



/* ————————————————————————————————————————————————
2. Breakpoints 
———————————————————————————————————————————————— */

@media screen and (min-width: 700px) {
    .result-row {
        max-width: 700px;
        margin: auto;
        border-right: 1px solid var(--grey3);
        border-left: 1px solid var(--grey3);
    }
    

}

@media screen and (max-width: 600px) {
    .result-row__movie-name {
        max-width: 210px;
    }

    .result-row {
        padding: 30px 20px;
        grid-gap: 15px;
        grid-template-columns: 45px 1fr;
        align-items: center;
        border-bottom: 1px solid var(--grey3);
    }

    .result-row__avatar {
        height: 45px;
        width: 45px;
    }


    .result-row__rating {
        grid-column: 2 / 2;
    }
}



@media screen and (max-width: 375px) {
    

    
}