/* ————————————————————————————————————————————————
Table Of Contents

1. Main Code 
2. Breakpoints 

———————————————————————————————————————————————— */



/* ————————————————————————————————————————————————
1. Main Code
———————————————————————————————————————————————— */

.result {
    padding: 33px 40px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 64px 1fr 169px;
    align-items: center;
}




/* ————————————————————————————————————————————————
2. Breakpoints 
———————————————————————————————————————————————— */